
.content{
  width: 80%;
  height: 300px;
  box-shadow: 0 0 5px 2px #ccc;
}

.content__img{
  display: inline-block;
  width: 300px;
  height: 100%;
  background-image: url('https://picsum.photos/300/300?image=1062');
}

.content__info{
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 300px);
  height: 100%;
  text-align: left;
}

@media screen and (max-width: 992px) {
  .content{
    display: block;
    width: 600px;
    height: 300px;
  }

  .content__img{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('https://picsum.photos/600/300?image=1062');
  }
  
  .content__info{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 600px){
  .content{
    display: block;
    width: 300px;
    height: 300px;
  }

  .content__img{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('https://picsum.photos/300/300?image=1062');
  }
  
  .content__info{
    display: block;
    width: 300px;
    height: 100%;
    text-align: center;
  }
}


.content__title{
  padding: 20px 0 0 20px;
  font-size: 48px;
}

.content__description{
  padding: 20px;
  font-size: 30px;
  font-style: italic;
  color: #888888;
}

.content--bold{
  font-weight: bold;
}